
.hero-data {
    width: 100%;
    height: 1050px;
}

.hero-data img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.school-program {
    background: white;
    width: 1000px;
    padding: 40px 60px;
    margin: auto;
    /* margin-top: -92px; */
    left: 0px;
    right: 0px;
    transform: translate(45%, -50%);
    display: inline-grid;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.school-program-img {
    display: flex;
    justify-content: space-between;
}
.program-inner-img {
    width: auto;
    height: 60px;
}

.program-inner-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cbse-btn {
    text-align: center;
    margin-top: 20px;
}
.cbse-btn a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background: #1780e9;
    padding: 18px 40px;
    display: inline-block;
    border-radius: 50px;
    font-weight: 600;
}

.school-welcome-box {
    display: flex;
    padding: 0px 280px;
}
.left-side-box {
    width: 50%;
    padding-right: 50px;
}
.school-welcome-box h3 {
    font-size: 24px;
    text-transform: uppercase;
}
.left-side-box h2 {
    font-size: 36px;
    text-transform: uppercase;
    color: #1780e9;
    margin-top: 5px;
    margin-bottom: 10px;
}
.left-side-box ul {
    padding-left: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}   
.left-side-box p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 6px;
}
.right-side-box {
    width: 50%;
    padding: 60px 0px 0px 20px;
}
.video-box video {
    width: 100%;
    height: 550px;
    object-fit: cover;
}


/* .principal-desk-sec {
    width: 72%;
    display: flex;
    margin: auto;
    background: #1780e936;
    padding: 60px;
    border-radius: 20px;
} */


.principal-desk-sec {
    width: 71%;
    display: flex;
    margin: 60px auto;
    background: #1780e936;
    padding: 60px;
    border-radius: 20px;
}

/* .left-side {
    width: 30%;
    height: 350px;
} */

.left-side .img-box {
    width: 85%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}
.left-side img {
    width: 100%;
    height: 100%;
}
.right-side {
    width: 70%;
    padding: 50px;
}

.right-side .content-box h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #1285fb;
}
.right-side .content-box p {
    line-height: 36px;
    font-size: 25px;
}
.right-side .content-box h3 {
    margin-top: 13px;
    font-size: 24px;
}

.student-data {
    background: #4582ff;
    /* margin-top: 80px; */
}
.student-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 60px 280px;
    text-align: center;
}

.student-box .box1 svg {
    font-size: 40px;
    color: #fff;
}

.counter-container h1 span {
    font-size: 35px;
    display: inline-block;
    padding: 21px 0px;
}

.counter-container h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
.open-admission {
    padding: 100px 60px;
    background: #193B94;
    text-align: center;
}
.open-admission h2 {
    color: #fff;
    font-size: 36px;
    display: block;
}
.open-admission span {
    display: block;
    font-size: 36px;
    line-height: 50px;
}
.open-admission p {
    font-size: 16px;
    line-height: 50px;
    color: #fff !important;
}
.open-admission a {
    font-weight: 600;
    text-decoration: none;
    color: #193b94;
    background: #fff;
    padding: 15px 40px;
    border-radius: 50px;
    display: inline-block;
    font-size: 16px;
}

.testimonials {
    padding: 0px 100px 30px;
    text-align: center;
}
.testimonials h2 {
    color: #4582ff;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 26px;
}
h5.parentsname {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
p.parentstext {
    font-size: 16px;
    line-height: 20px;
}
.testimonilaBox {
    background: #cee4fa;
    /* padding: 60px; */
    height: 100%;
    border-radius: 5px;
}
.carousel-item-padding-40-px {
    margin: 20px;
    padding: 41px 34px;
    background: #cee4fa;
    border-radius: 8px;
}


.nextstep {
    padding: 50px 100px;
}
.nextstep-innerbox {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.leftside {
    width: 50%;
}
.rightside {
    width: 50%;
}

.leftside .img-box {
    width: 500px;
    height: auto;
    margin: auto;
}
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightside {
    width: 50%;
    display: flex;
    align-items: center;
}
.rigth-side-innerbox a {
    padding: 23px 63px;
    background-color: #4582ff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}
.rigth-side-innerbox a svg {
    font-size: 20px;
}

.newsfeeds-sec {
    background: url(../../public/img/Newsfeed-bg.jpeg);
    width: 100%;
    height: 100%;
    padding: 80px 280px;

} 

.newsfeeds-heading {
    text-align: center;
    margin-bottom: 50px;
}
.newsfeeds-heading h3 {
    color: #000;
    margin-bottom: 10px;
}

.newsfeeds-heading h3 span {
    color:#000;
   
}

.newsfeeds-row {
    display: flex;
    width: 100%;
 
}

/* .news-left-box {
    width: 38%;
}
.news-right-box {
    width: 58%;
} */

.news-left-box {
    width: 70%;
    height: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.left-news-list {
    width: 48%;
}

.left-news-list a {
    display: block;
    width: 100%;
    height: 100%;
}

.news-right-box {
    width: 30%;
    padding: 10px;
    justify-content: space-between;
}

.left-news-list a img {
    width: 100%;
    height: 340px;
    object-fit: cover;
   display: block; 
}
.news-list {
    display: flex;
}
.news-img {
    width: 35%;
    padding-right: 10px;
}

.news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-name {
    width: 65%;
}
.news-list {
    display: flex;
    padding: 10px;
    background: #464242;
    margin-bottom: 10px;
}
.left-news-list .news-name {
    width: 100%;
    background: #464242;
    padding: 10px;
}
.left-news-list a {
    text-decoration: none;
}
.news-heading {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.news-date {
    color: #Ffff;
    font-size: 16px;
    line-height: 28px;
}
.all-new-btn-box a {
    display: inline-block;
    background: #4582ff;
    /* width: 100px; */
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 20px;
}
.all-new-btn-box {
    /* margin: auto; */
    text-align: center;
}